/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 2rem;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    opacity: 0.5;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 15px;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 490px) {
    html{
        font-size: 15px;
    }
}

/*For displaying the categories in 3 or 1 column*/
.card{
    background-color: transparent;
    border: none;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 4, .15);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.34);
    line-height: 60px; /* Vertically center the text there */
}

/*Font for the Website title*/
#cowboy-title h1 {
    font-family: Playbill;
    font-size: 6rem;
}

#cowboy-title h5 {
    font-family: Playbill;
    font-size: 2rem;
}

/*For Items on the Menu*/

#menu-item p {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

#menu-item h2 {
    padding: 0;
    margin: 0;
    border-top: 5px solid;
    border-color: rgba(0, 0, 0, .45);
    border-radius: 30px;
}

#menu-item > h5 {
    margin: 0;
    padding: 0;
}

/*Columns for the different menu item details*/
.column {
    float: right;
    padding: 0;
    margin: 0;
    text-align: right;
}

.column > p {
    padding: 0;
    margin: 0;
}

/********Columns for the Menu items********/
/*left column*/
.left {
    width: 37.5%;
    text-align: right;
}

/*right column*/
.right {
    width: 37.5%;
    text-align: left;
}

/*middle column*/
.middle {
    width: 25%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Search Bar*/
.searchBar {
    width: 75%;
    border-radius: 30px;
    border: 1px rgba(0, 0, 0, .45);
    padding: 5px 5px 5px 25px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

    .searchBar:hover {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.4);
    }

/*Category list*/
#search, #category, #calories, #prices {
    float: none;
    display: flex;
    flex-direction: row;
    position: center;
    padding: 5px 5px 5px 25px;
    margin-right: 5px;
}

/*Search Button*/
.searchButton {
    float: left;
    width: 25%;
    padding: 10px;
    background: rgba(220, 54, 0, 0.85);
    border: 1px grey;
    border-left: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px rgba(220, 54, 0, 0.64);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.08);
    z-index: 2;
}

    /*Search Button hover*/
    .searchButton:hover {
        background: rgb(220, 54, 0);
    }

/*Search Button Icon for Search Button*/
#search-image {
    width: 1.5rem;
    height: 1.5rem;
}

/*Category Checkboxes*/
#category input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

    #category input[type=checkbox]:hover {
        box-shadow: 0 .25rem .75rem rgba(220, 54, 0, 0.55);
        background-color: saddlebrown;
        border-color: black;
        border-radius: 5px;
    }

/*Rounder divider*/
hr.rounded {
    border-top: 5px solid;
    border-color: rgba(0, 0, 0, .45);
    border-radius: 5px;
}

/*Calories and Price text boxes*/
#filters input[type=number] {
    width: 4.6rem;
    border: 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.15);
    text-align: center;
}

    /*Calories and Price text boxes hover*/
    #filters input[type=number]:hover {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.4);
    }

#filters h5 {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
